# Dependencies
/node_modules
/posters
/venv/
/.pnp
.pnp.js
tmdb_data/*.db
tmdb_data/*.db-shm
tmdb_data/*.json
tmdb_data/*.db-wal
torrent_cache/*.torrent
# Testing
/coverage

# Next.js
/.next/
/out/

# Production
/build

# Misc
.DS_Store
*.pem

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local env files
.env*.local
.env

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts

